@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix-Sans";
  src: url("./fonts/NetflixSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "Netflix-Sans-Regular";
  src: url("./fonts/NetflixSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Netflix-Sans-Medium";
  src: url("./fonts/NetflixSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Netflix-Sans-Bold";
  src: url("./fonts/NetflixSans-Bold.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Netflix-Sans-Regular";
}
